# fly.toml app configuration file generated for saper-fly2-7f2tqg on 2025-11-07T21:29:35Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'saper-fly2-7f2tqg'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
