# fly.toml app configuration file generated for saper-fly on 2025-11-05T19:41:24Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

# IMPORTANT: Change this to your unique app name before deploying
app = 'saper-fly2-7f2tqg'
primary_region = 'fra'

[build]

[env]
  # Flask environment
  FLASK_ENV = "production"
  PYTHONUNBUFFERED = "1"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    grace_period = "10s"
    interval = "30s"
    method = "GET"
    timeout = "5s"
    path = "/"

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[mounts]
  source = "saper_data"
  destination = "/data"

# Deploy configuration
[deploy]
  release_command = "python init_db.py"
